h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    max-width: 1280px;
    margin: auto;
}

body {
    margin: auto;
}

header nav .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav .logo img {
    width: 100%;
    display: block;
    padding: 30px 200px 30px 5px;
}

header nav .menu-items a {
    display: flex;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #1D1F2A;
    font-weight: bold;
    padding: 5px;
}

.menu-items a:hover { 
    color: #7648f8;
}

#burger-checkbox {
    display: none;
}

header nav .total-menu {
    display: none;
}

header nav input:checked ~ .total-menu {
    display: block;
}

header nav .social-media-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-icon {
    display: flex;
    align-items: center;
}

@media (min-width: 769px) {
    header nav .logo img {
        width: 400px;
        padding: 30px 200px 30px 5px;
    }

    .burger-icon {
        display: none;
    }

    header nav .menu-items {
        display: flex;
        flex-direction: row;
       
    }
    
    header nav {
        display: flex;
        justify-content: space-around;
    }

    header nav input:checked ~ .total-menu {
        display: flex;
    }

    header nav .total-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav .menu-items {
        display: flex;
        
    }

    header nav .social-media-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .processing-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 500px;
    }
}

.social-media-bar {
    padding: 10px;
}
.social-media-button {
    color: white;
    border: none;
    width: 28px;
    height: 28px;
    background-color: #7648f8;
    border-radius: 7px;
    margin: 5px;
    text-align: center;
}
.social-media-button:hover {
    cursor: pointer;
    background-color: rgb(148, 113, 245)
}
.banner {
    background-image: url(../img/background-banner.png);
    background-size: cover;
    min-height: 600px;
}
.banner h1 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 100px 25px 25px 50px;
    font-weight: bold;
    font-size: 45px;
}
.banner p {
    color: white;
    font-family: 'Rubik', sans-serif;
    padding: 5px 25px 25px 50px;
}

.banner .banner-buttons {
    display: flex;
    padding-left: 40px;
}

.banner .banner-button1 {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: #4D5162;
    background-color: white;
    margin: 15px;
    padding: 15px 30px 15px 30px;
    height: 50px;

}

.banner .banner-button2 {
    display: flex;
    align-items: center;
    border-color: #f7b30b;;
    color: white;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    margin: 15px;
    padding: 15px 30px 15px 30px;
    height: 50px;
}

.banner .banner-button1:hover {
    background-color: #f7b30b;
    cursor: pointer;
    color: white;
}

.banner .banner-button2:hover {
    background-color: #f7b30b;
    cursor: pointer;
}



.processing-block .process-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.processing-block .process-card h3 {
    color: #7648f8!important;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 25px;
}

.processing-block .process-card p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #5f6162;
    line-height: 1.6;
}

.process-card-img {
    width: 70px;
    height: 70px;
    padding-bottom: 20px;
}

.unit {
    display: flex;
    justify-content: center;
    color: #5F6162;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    min-width: 320px;
    letter-spacing: .1em;
    font-weight: bold;
}

#how-it-works h3 {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.devider-dash {
    color: #7648f8!important;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works p {
    color: #5F6162;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
}

.list-plus-image {
    display: flex;
    justify-content: space-between;
}

#how-it-works img {
    width: 100%;
}

.how-it-works-list {
    margin-top: 20px;
}
#how-it-works .how-it-works-image {
    display: flex;
    align-items: center;
}

.how-it-works-list {
    list-style-type: none;
}

.how-it-works-list .dash {
    color: #7648f8!important;
}

.how-it-works-list h4 {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif; 
    margin-bottom: 0;
    font-weight: 700;
}

.how-it-works-list p {
    color: #5F6162;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    display: inline;
}

.how-it-works-list li {
    margin-top: 7.5px;
    margin-bottom: 20px;
}
.list-plus-image {
    margin-bottom: 100px;
}

#our-services {
    background-color: rgb(247, 247, 247);
    background-size: cover;
    min-height: 900px;
}

#our-services .unit {
    padding-top: 150px;
}
#our-services h3 {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}
#our-services .carousel {
    display: flex;
    justify-content: space-around;  
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
#our-services .carousel .arrow-slider {
    height: 40px;
    margin-top: 210px;
    border: none;
    background-color: transparent;
    color: #7648f8!important;
}

#our-services .carousel ul{
    padding-left: 0px;
    display: flex;
    justify-content: space-around;

}

#our-services .carousel .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    margin: 50px 20px 100px 20px;
}


#our-services .carousel .card img {
    width: 110px;
    height: 110px;
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
}

#our-services .carousel .card h5 {
color: #7648f8!important;
font-family: 'Nunito Sans', sans-serif;
text-align: center;
padding-bottom: 25px;
font-weight: bold;
font-size: 25px;
}

#our-services .carousel .card p {
margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #5f6162;
    line-height: 1.6;
}


@media screen and (min-width:700px) and (max-width:1100px) {
    #our-services .carousel .third-card {
        display: none;
    }
}

@media (max-width:700px) {
    #our-services .carousel .third-card {
        display: none;
    }
    #our-services .carousel .second-card {
        display: none;
    }
}

.lets-start {
    background-image: url(../img/lets-start-background.png);
    background-size: cover;
    min-height: 600px;
}

.lets-start h4 {
    color: white;
    padding-top: 100px;
}

.lets-start .devider-dash {
    color: #f7b30b!important;
}

.lets-start h3 {
    color: white;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 54px;
    font-weight: 900;
    margin-bottom: 0;
}

.lets-start p{
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 550;
    padding-top: 30px;
}

.lets-start form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.lets-start .get-started-button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: #4D5162;
    background-color: white;
    font-weight: 800;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.lets-start .get-started-button:hover {
    background-color: #f7b30b;
    cursor: pointer;
    color: white;
}

.why-us {   
    background-color: rgb(37, 30, 46);
    min-height: 1000px;
    padding-bottom: 10%;
}


.why-us-img img { 
    display: block;
    width: 100%;
    margin-top: 100px;
}

.why-us-img {
    width: 50%;
}

.img-text {
    display: flex;
}

.why-us-text {
    color: white;
    padding-left:60px;
}

.why-us-text .unit {
    color: #ABACAE;
    padding-top: 50px;
}

.why-us .devider-dash {
    color: #f7b30b!important;
    font-size: 25px;
}

.why-us-text h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 41px;
    font-weight: 900;
    padding-top: 20px;
}

.why-us-text p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #ABACAE;
}

.benefits-block {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 50px;
}

.benefits-block .beneficial-card {
    background:rgba(255, 255, 255, 0.05);
    width: 16em;
}


.benefits-block .beneficial-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
}
        
.benefits-block .beneficial-card h4 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
 }

 .benefits-block .beneficial-card p {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #ABACAE;
    margin-top: 20px;
    margin-bottom: 30px;
 }

 @media (max-width: 650px){
    .get-started-button {
        margin-bottom: 50px;
    }
    .img-text {
        display: flex;
        flex-direction: column;
    }
    .why-us-img {
        width: 100%;
    }
    .why-us-text {
        text-align: center;
        padding-left: 0px;
    }
 }
 @media (max-width: 1050px) {
    .benefits-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .beneficial-card {
        margin-bottom: 20px;
    }
 }
 @media (max-width: 400px) {
    #our-services .carousel .card {
        margin: 50px 0px 100px 0px;
    }
 }
 @media (max-width: 500px){
    header nav .logo img {
        width: 100%;
        display: block;
        padding: 10px 100px 10px 10px;
    }
    .banner h1 {
        padding-left: 20px;
        font-weight: bold;
        font-size: 30px;
    }
    .banner .banner-buttons {
        display: flex;
        flex-direction: column;

    }
    .list-plus-image {
        display: flex;
        flex-direction: column;
        
    }
    #our-services .unit {
        font-size: 18px;
        font-weight: 700;
    }
    .subscribe .subscribe-buttons {
        max-width: 200px;
    }
}

.subscribe {
    background-image: url(../img/subscribe-background.png);
    background-size: cover;
    min-height: 400px;
    display: flex;
}

.subscribe-text {
    color: white;
    padding-left: 40px;
    width: 100%;
}
.subscribe-text .unit{
    color: #FAFAFA99;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    padding-top: 20%;
    justify-content: flex-start;
}

.subscribe .devider-dash {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3px;
    color: white!important;
}
.subscribe-text h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 43px;
    font-weight: 900;
    padding-top: 30px;
}

.subscribe-text p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding-top: 20px;
}

.subscribe .subscribe-buttons-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 7%;
}

.subscribe .subscribe-buttons {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.subscribe .subscribe-buttons .input-email {
    color: white;
    border: none;
    border-radius:5px;
    border-width: 2px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    background-color:rgba(255, 255, 255, 0.11);
    padding: 10px 0px 10px 30px;
}

input.input-email::placeholder {
    color:#FAFAFA99;
}

.subscribe .subscribe-buttons .submit-email {
    background-image: linear-gradient(110deg,#7648f8,#d85fff);
    padding: 10px 0px 10px 30px;
    border: none;
    border-radius:5px;
    border-width: 2px;
    color:white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

input[type="submit"].submit-email:hover {
    background-image: linear-gradient(110deg,#d85fff,#7648f8);
}

@media(max-width:800px) {
    .subscribe {
        flex-direction: column;
        padding-bottom: 10%;
    }

    .subscribe .subscribe-buttons-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-right: 7%;
    }
    .subscribe .unit {
        padding-top: 10%;
    }
}

#pricing {
    background-color: rgb(247, 247, 247);
    background-size: cover;
    min-height: 900px;
    padding-top: 7%;
}

#pricing .pricing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 60px;
}

#pricing .package-price {
    display: flex;
}

#pricing .package-price p {
    margin-bottom: 0px;
}

#pricing .pricing-plan-block {
    display: flex;
    justify-content: space-around;
}

#pricing .pricing-plan-card {
    background-color: white;
}

.pricing-plan-card h5{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 1000;
    color: #5F6162;
}

.pricing-plan-card span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    color: #7648f8;
    font-weight: 900;
}

.pricing-plan-card p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #5F6162;
    font-weight: 900;
}
.pricing-plan-card ul {
    list-style: none;
}

.pricing-plan-card ul li::before {
    content: "\2022"; 
    color: #D85FFF;
    font-weight: 1000; 
    font-size: 25px;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.pricing-plan-card ul li {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 1000;
    color: #5F6162;
}

.pricing-plan-card .pricing-btn {
    display: flex;
    align-items: center;
    border-color: #7648f8;
    color: #5F6162;
    font-weight: bolder;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    margin: 15px;
    padding: 15px 30px 15px 30px;
    height: 50px;
}

@media (max-width:1010px) {
    #pricing .pricing-plan-block {
        flex-direction: column;
        align-items: center;
    }
    
    .pricing-plan-block .pricing-plan-card {
        margin-bottom: 30px;
    }
}
